/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */ 
body {
  margin: 0px; 
  padding: 0px; 
  font-family: sans-serif;
} 

.app {
  background-color: aqua;
} 

.header {
  background-color: brown;
}

.order {
  background-color: darkgray;
} 

.inventory {
  background-color: green;
}

.adminPanel {
  background-color: tan;
}
